spring:
  application:
    name: notification

  datasource:
    url: jdbc:postgresql://localhost:5432/onlineshop
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true